<div class="layout-container" fxLayout="column">

  <mat-toolbar color="primary" class="mat-elevation-z5 fixed-toolbar">
    <mat-toolbar-row fxLayout="row">
      <button mat-icon-button color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      NIMASA - CDCU
      <span fxFlex="1 1 auto"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="./settings">
          <mat-icon>settings</mat-icon>
          Settings
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Spacer to offset fixed toolbar height -->
  <div class="toolbar-spacer"></div>

  <mat-drawer-container class="drawer-container" autosize fxFlex="1 1 auto" hasBackdrop="false">
    <mat-drawer #drawer mode="side" opened class="sidenav sidenav-vertical">
      <div id="profile">

      </div>
      <button mat-button routerLink="./dashboard" routerLinkActive="active">
        <mat-icon>
          dashboard
        </mat-icon>
        Dashboard
      </button>
      <button mat-button routerLink="users" routerLinkActive="active">
        <mat-icon>
          people
        </mat-icon>
        Users
      </button>
      <button mat-button routerLink="organization" routerLinkActive="active">
        <mat-icon>
          business
        </mat-icon>
        Organization
      </button>
      <button mat-button routerLink="projects" routerLinkActive="active">
        <mat-icon>
          schedule
        </mat-icon>
        Projects and tasks
      </button>
    </mat-drawer>

    <div class="sidenav-content">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.lt-md=100% fxFlex.gt-md=1024px>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </mat-drawer-container>

</div>